/* roboto-slab-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v34-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-slab-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-slab-v34-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-slab-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-slab-v34-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
 a {
    text-decoration: none;
 }
 ol,ul {
    list-style: none;
 }
 body {
    height: 100%;
    font-family: 'Roboto Slab' sans-serif;
    display: flex;
    flex-direction: column;

 }
 .header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color:rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
 }
 .header_video {
     position: absolute;
     width: 100%;
     height: inherit;
     object-fit: cover;   
     z-index: -1;
 }
 .container {
     width: 100%;
     max-width: 1200px;
     margin-right: auto;
     margin-left: auto;
     padding-left: 50px;
     padding-right: 50px;
 }
 .header-container {
    width: 620px !important ;
     text-align: center;
     color: white;
     
 }

 
 .header_tatil {
    margin-bottom: 20px;
    font-size: 42px;
 }

 .header_paragrph {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 22px;
 }
 .header_link {
    font-size: 20px;
    color: white;

 }
 .header_link:hover {
    color: red;
 }
 /* main qismi */

.nabaviy {
    height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: rgba(0, 0, 0, 0.5);
}

.nabaviy-container {
    width: 620px !important;
        text-align: center;
        color: white;
}


.nabaviy_video {
    position: absolute;
        width: 100%;
        height: inherit;
        object-fit: cover;
        z-index: -1;
}

.nabaviy_tetil {
    margin-bottom: 20px;
        font-size: 42px
}

.nabaviy_paragrph {
    margin-bottom: 15px;
        font-size: 15px;
        line-height: 22px;
}

.nabaviy_link {
    font-size: 20px;
        color: white;
}
.nabaviy_link:hover {
    color: red;
}
.faisa {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: rgba(0, 0, 0, 0.5);
}

.faisa-container {
        width: 620px !important;
        text-align: center;
        color: white;
}
.faisa_video {
         position: absolute;
        width: 100%;
        height: inherit;
        object-fit: cover;
        z-index: -1;
}

.faisa_tetil {
    margin-bottom: 20px;
        font-size: 42px
}

.faisa_paragrph {
    margin-bottom: 15px;
        font-size: 15px;
        line-height: 22px;
}

.faisa_link {
        font-size: 20px;
        color: white;
}
.faisa_link:hover {
    color: red;
}